*{
    margin: 0px;
    padding: 0px;
}

body {
    background: url("/images/tan_wrinkled_paper.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #333;
}

.tile{
    float: left;
    width: 148px;
    height: 150px;
}

.tile button {
    width: 100%;
    height: 100%;
    border: 1px solid #a1a1a1;
    background-color: #eee; 
    border-radius: 5px;
    font-size: 16px;
}

.crsr {
    cursor: pointer;
}

.containerWrap {
    margin: 75px auto;
    background-color: #fff;
    width: 500px;
    border-radius: 10px;
}

.mainSection {
    padding: 25px 25px;
}

.midSection {
    display: inline-block;
}

.topSection {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 10px;
}

.bottomSection {
    margin-top: 20px;
}

.bottomSection button {
    background-color: #006ACC;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}