%html
	%head
		%title Puzzle
		%script{:src=>'http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js'}
		%script{:src => "/angular/scripts/app.js"}
		%script{:src => "/angular/scripts/controllers/main.js"}
		%link{:href => "/stylesheets/main.css", :rel => "stylesheet"}/
	%body{"ng-app"=>"myangApp", "ng-controller"=>"MainCtrl"}
		.containerWrap{"ng-switch on" => "!!solved"}
			.mainSection{"ng-init" => "scramble();", "ng-switch-when" => "false"}
				.topSection Arrange the tiles by shifting into the blank
				.midSection	
					.tile{"ng-repeat" => "tile in tiles"}
						%button{"ng-click" => "move(tile.id)", "ng-disabled" => "disable(tile.id)", "ng-class"=>"{true: 'crsr'}[!(tile.ps == '' || disable(tile.id))]"}{{tile.ps}}
				.bottomSection	
					%button{"ng-click" => "scramble()"} Reload
		        
			%div{"ng-switch-when" => "true", :style => "position: relative; top: 100px; padding: 20px;"}
				%h2 Congratulations!!! You are the Winner!!!
				%button{"ng-click" => "scramble()"} Restart