%html
	%head
		%script{:src=>'http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js'}
		%script{:src => "/angular/scripts/app.js"}
		%script{:src => "/angular/scripts/controllers/main.js"}
		%link{:href => "/stylesheets/bootstrap.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/main.css", :rel => "stylesheet"}/
	%body{"ng-app"=>"myangApp", "ng-controller"=>"MainCtrl"}
		.hero-unit{"ng-switch on" => "!!solved"}
			%div{"ng-init" => "scramble();", "ng-switch-when" => "false"}
				%div{:style => "padding: 5px;"} Arrange the number in order by moving the tile adjacent to the blank space.
				%div{"ng-repeat" => "tile in tiles"}
					%button.tile{"ng-click" => "move(tile.id)", "ng-disabled" => "disable(tile.id)"}{{tile.ps}}
		        
			%div{"ng-switch-when" => "true", :style => "position: relative; top: 100px; padding: 20px;"}
				%h2 Congratulations!!! You are the Winner!!!
			%button.btn.btn-primary{"ng-click" => "scramble()", :style => "width: 450px;"} Reload